<!-- about-me.component.html -->
<div class="about-me-container">
    <header class="header">
      <img src="../../assets/img/me.jpg" alt="Benjamin Sabo" class="profile-picture" />
      <h1>Benjamin Sabo</h1>
      <p>Full Stack Developer</p>
      <p>
        Email: <a href="mailto:bsabo44@gmail.com">bsabo44@gmail.com</a> | 
        Phone: <a href="tel:+385993065589">(+385) 993065589</a>
      </p>
      <p>Address: Jarunska 2, 10000, Zagreb, Croatia</p>
    </header>
  
    <section class="personal-info">
      <h2>Personal Information</h2>
      <p>Date of Birth: 25/06/2003</p>
      <p>Citizenship: Croatian</p>
      <p>Gender: Male</p>
    </section>
  
    <section class="experience">
      <h2>Experience</h2>
  
      <div class="job">
        <h3>PUBLIZENDE</h3>
        <h4>25/04/2022 – 13/05/2022 | Esposende, Portugal</h4>
        <ul>
          <li>Computer hardware.</li>
          <li>Adobe Illustrator.</li>
          <li>Physical work around machines (CNC, press, printers).</li>
        </ul>
      </div>

      <div class="job">
        <h3>IT Helpdesk</h3>
        <h4>IN2 Grupa | 04/12/2022 – Present | Zagreb, Croatia</h4>
        <ul>
          <li>Maintaining IT infrastructure.</li>
          <li>Handling equipment maintenance.</li>
          <li>Performing physical tasks.</li>
        </ul>
      </div>

    </section>
  
    <section class="education">
      <h2>Education</h2>

      <div class="degree">
        <h3>Electrotechnical and Traffic School</h3>
        <h4>09/2018 – 05/2022 | Osijek, Croatia</h4>
        <a href="http://elpros.net/" target="_blank">Institution Website</a>
      </div>
    </section>


      <div class="degree">
        <h3>Technical Business</h3>
        <h4>Tehničko veleučilište Zagreb | 03/10/2022 – Present</h4>
        <a href="https://www.tvz.hr/" target="_blank">Institution Website</a>
      </div>
  

  
    <section class="digital-skills">
      <h2>Digital Skills</h2>
      <ul>
        <li>MS Office (Word, Excel, PowerPoint)</li>
        <li>HTML, CSS, JavaScript</li>
        <li>React.js, Tailwind CSS, Vite, Redux</li>
        <li>Adobe Premiere Pro</li>
        <li>Figma</li>
      </ul>
    </section>
  
    <section class="projects">
      <h2>Projects</h2>
      
      <div class="project">
        <h3>MC2 App</h3>
        <p>Developed an iOS application using SwiftUI that helps users step out of their comfort zones through various challenges and activities. Achieved 6th place in the competition.</p>
        <a href="https://www.youtube.com/watch?v=JcgX82qq-lk&t=1428s&ab_channel=TVZMc2" target="_blank">View Project Video</a>
      </div>
  
      <div class="project">
        <h3>Fronted</h3>
        <p>Developed a web application for testing website security during a 24-hour hackathon. Utilized React.js and Vite. Secured 2nd place in the hackathon.</p>
        <a href="https://www.instagram.com/p/CqjC7FprOvM/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank">View Project</a>
      </div>
  
      <div class="project">
        <h3>Karijerko</h3>
        <p>Built a web application that helps young professionals in Croatia create and launch their portfolios. Developed using React.js, Tailwind CSS, Vite, Redux, NestJS, and PostgreSQL. Won 1st place at TVZ Mc2 competition.</p>
        <a href="https://karijerko.com" target="_blank">Visit Karijerko</a>
      </div>
    </section>
  </div>
  