mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 64px;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

.actions {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.dropdown-content.show {
  display: block;
}

.dropdown-content li {
  list-style: none;
  margin: 0;
  border: 1px solid transparent; /* Ensure no border is affecting the hover area */
}

.dropdown-content li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 8px 16px;
  width: 100%;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.dropdown-content li a:hover {
  background-color: rgba(0, 0, 0, 0.04); /* Highlight the full width on hover */
}

.main-content {
  margin-top: 64px;
}

/* Remove the default blue outline from focus */
.mat-icon-button:focus,
.mat-icon-button:focus-visible {
  outline: none;
  box-shadow: none;
}
