<mat-toolbar color="primary" class="navbar" appCloseDropdown>
  <div class="dropdown">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleDropdown()">
      <span class="material-symbols-outlined">menu</span>
    </button>
    <ul class="dropdown-content" [class.show]="dropdownOpen">
      <li><a routerLink="/" (click)="closeDropdown()">HOME</a></li>
      <li><a routerLink="/user-input" (click)="closeDropdown()">INPUT</a></li>
      <li><a routerLink="/about-me" (click)="closeDropdown()">ABOUT ME</a></li>
    </ul>
  </div>
  <span class="spacer"></span>
  <div class="actions">
    <button mat-icon-button aria-label="Search">
      <span class="material-symbols-outlined">search</span>
    </button>
  </div>
</mat-toolbar>
