<mat-form-field>
  <input matInput (input)="onSearchTextChange($event)" placeholder="Search by name">
</mat-form-field>


<mat-form-field>
  <mat-select placeholder="Filter by job title" (selectionChange)="onJobTitleChange($event)">
    <mat-option *ngFor="let title of jobTitles" [value]="title">{{ title }}</mat-option>
  </mat-select>
</mat-form-field>

<div class="container" *ngIf="filteredEmployees.length">
  <h2>Employees List</h2>
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20px">
    <mat-grid-tile *ngFor="let employee of filteredEmployees">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ employee.firstName }} {{ employee.lastName }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="mb-0"><strong>Job Title:</strong> {{ employee.jobTitle }}</p>
          <p class="mb-0"><strong>Date of Birth:</strong> {{ employee.dateOfBirth | date: 'longDate' }}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div *ngIf="!filteredEmployees.length" class="no-employees">
  <p>No employees found.</p>
</div>
